@charset "UTF-8";
/* line 4, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
p {
  font-family: sans-serif;
  color: black;
  text-align: center;
}

/* line 10, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
a {
  font-family: sans-serif;
  color: black;
}

/* line 15, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 20, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 25, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.header {
  width: 80%;
  height: 10%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

/* line 35, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.button {
  width: 33%;
  height: 100%;
  text-align: center;
  float: left;
  position: relative;
}

/* line 43, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.button:hover {
  text-decoration: underline;
}

/* line 47, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
h1 {
  margin-top: 0;
  text-align: center;
  width: 100%;
  height: 10%;
}

/* line 54, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.content {
  width: 100%;
  height: auto;
  margin-top: 20%;
}

/* line 60, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.txt_prs {
  display: none;
}

/* line 64, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.txt_mn {
  display: none;
}

/* line 68, /Users/fanny/A_Clément/jquery/resto/app/assets/stylesheets/home.scss */
.txt_ct {
  display: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

