<div class="container">

  <h1>La Cuisine au Beurre</h1>

  <div id="carousel">
    <ul>
      <li><%= image_tag "cdbn.jpg", width: 300, height: 300 %></li>
      <li><%= image_tag "rougets.jpg", width: 300, height: 300 %></li>
      <li><%= image_tag "ka.jpg", width: 300, height: 300 %></li>
    </ul>
  </div>

  <div class="controls">
    <a class="prev" id="prev">Precedent</a>
    <a class="next" id="next">Suivant</a>
  </div>

  <div class="header">
    <div class="button" id="presentation">
      <a>Presentation</a>
    </div>
    <div class="button" id="menu">
      <a>Menu</a>
    </div>
    <div class="button" id="contact">
      <a>Contact / Nous trouver</a>
    </div>
  </div>


  <div class="content">
    <p class="txt_prs" id="text_presentation">
      La Cuisine au Beurre, un lieu où le beurre est roi ! Ici, le chef fera tout son possible pour beurrer vos papilles !
    </p>
    <p class="txt_mn" id="text_menu">
      Crêpe de blé noir au beurre en entrée, rougets au beurre en plat principal, et kouign-amann en dessert !</br>
      Envie d'une petite pause ? Prenez un café-pain-beurre !
    </p>
    <p class="txt_ct" id="text_contact">
      Contact Tél. 02.97.30.02.97</br>
      Adresse : 10 rue de Kerdavid, 56510 Saint Pierre Quiberon
    </p>
  </div>

</div>
